{% extends 'base.html.twig' %}

{% block title %}{{ 'default.indexTitle'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'default.indexH1'|trans }}</h1>

    {{ include('produit/_list.html.twig', {'produits':produits}) }}

{% endblock %}
