<form method="post" action="{{ path('produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('"{{ 'produit.alertDeleteProdPanier'|trans }}"');" style="margin-top:50px;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button class="btn btn-outline-danger my-2 my-sm-0">{{ 'produit.deleteProdPanier'|trans }}<i class="fa-solid fa-trash" style="padding-left:10px;"></i></button>
</form>
