{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <h1>Créer un nouveau produit</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('produit_new', {'id': produit.id}) }}">Retour à la liste</a> {# a changer en show apres} #}
{% endblock %}
